@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
/*custom scroll css*/
.custom-scroll-bar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Handle */
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: rgb(202, 181, 226);
}

@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTWanjudaedunsancheB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

table {
  @apply w-full border-collapse;
}
th,
td {
  @apply border border-secondary-dark p-2 text-left;
}

.dark th {
  @apply bg-header-dark; /* 어두운 테마의 테이블 헤더 배경색 사용 */
}

.light th {
  @apply bg-header-light; /* 밝은 테마의 테이블 헤더 배경색 사용 */
}

th {
  @apply text-center;
  border-bottom: 3px double;
}
